<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"></meta>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <div th:if="${#httpServletRequest.remoteUser != null}">
            <p th:text="${#httpServletRequest.getRemoteUser()}">
                sample_user
            </p>
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log out" />
        </form>

        <h1>All Users</h1>
        <table class="table table-striped" border="2px" style="align-content: center">
            <thead>
            <tr>
                <th>#ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            </thead>
            <tr th:each="user : ${users}" th:inline="text">
                <td>[[${user.userId}]]</td>
                <td><a th:href="@{/show/} + ${user.userId}">[[${user.firstName}]]</a></td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.email}]]</td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>
